/* Set base styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


/* Styles for individual events */
.event {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.event img {
    max-width: 100%;
    border-radius: 5px;
}

.event h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #0066cc;
}

.event .price {
    font-size: 18px;
    font-weight: bold;
}


/* Styles for the calendar button */
.calendar-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Hover styles for the calendar button */

.calendar-button:hover {
    background-color: #005cbf;
}


