

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff9999, #66ccff);
}
/* Define the animation for the gradient background */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    animation: gradientAnimation 15s ease infinite;
}

/* Styling for the container holding the panels */
.container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.left-panel {
    text-align: center;
}

.right-panel {
    text-align: center;
}

/* Bilimsel semboller */
.left-panel::before {
    content: "\1F4D1"; /* Kitap sembolü */
    font-size: 40px;
    margin-right: 10px;
}

.right-panel::before {
    content: "\1F52E"; /* Mikroskop sembolü */
    font-size: 40px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        margin-bottom: 20px;
    }
}
.animated-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: none;
}

.animated-button::after {
    content: "";
    background: #fff;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.3s;
}

.animated-button:hover::after {
    height: 100%;
}

.form-button {
    background-color: #ffcc00; /* Sarı renk */
}

.contact-button {
    background-color: #00cc66; /* Yeşil renk */
}